- `show interfaces terse
  `
- `show interfaces
  `
- `show configuration interfaces
  `
- `ping <ip addr>`
