# Validation

- `show ip eigrp neighbors`
- `show ip route eigrp`
- `ping 3.3.3.3` and `ping 2.2.2.2`



