- `show version`
- `show chassis hardware
  `
- `show system storage
  `
- `show configuration
  `
- `show interfaces terse
  `
- `show system users
  `
- `show system services`
