- `show spanning-tree
  `
- `show spanning-tree bridge
  `
- `show spanning-tree interface`
