`sh ip bgp summary`

````bash
R1#sh ip bgp summary
BGP router identifier 192.168.1.1, local AS number 65001
BGP table version is 2, main routing table version 6
1 network entries using 132 bytes of memory
1 path entries using 52 bytes of memory
0/0 BGP path/bestpath attribute entries using 0 bytes of memory
1 BGP AS-PATH entries using 24 bytes of memory
0 BGP route-map cache entries using 0 bytes of memory
0 BGP filter-list cache entries using 0 bytes of memory
Bitfield cache entries: current 1 (at peak 1) using 32 bytes of memory
BGP using 240 total bytes of memory
BGP activity 1/0 prefixes, 1/0 paths, scan interval 60 secs

Neighbor        V    AS MsgRcvd MsgSent   TblVer  InQ OutQ Up/Down  State/PfxRcd
10.0.12.2       4 65002       2       2        2    0    0 00:00:33        4

````

