Lets verify our VLAN deployment

- `sh vlan brief` 
- `sh vlan id 10` 
- `sh int gi0/5`
- `switchport sh int vlan 99`
