On R1, 

`show mpls traffic-eng tunnel brief`



`show mpls traffic-eng tunnel Tunnel0 detail`





`show ip rsvp neighbor`





`show ip rsvp session`





`show ip explicit-path name PRIMARY`





`show mpls traffic-eng fast-reroute`





`show mpls traffic-eng tunnel Tunnel0`





`show ip rsvp session`





