- `show vlans
  `
- `show ethernet-switching table
  `
- `show interfaces terse
  `
- `show configuration vlans`
